.textLeft {
  &__content {
    width: 50%;
    margin: 0 auto 10rem 0;
  }

  &__title {
    font-size: 3rem;
    color: $color-gold-primary;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
}

//-----------------------------------//

// < 600px
@media screen and (max-width: $s) {
  .textLeft__content {
    margin: 0 auto 5rem 0;
    width: 75%;
  }
}

//-----------------------------------//

// < 500px
@media screen and (max-width: $xs) {
  .textLeft__content {
    width: 85%;
  }
}

//-----------------------------------//

// < 400px
@media screen and (max-width: $xxs) {
  .textLeft__content {
    width: 90%;
  }
}

//-----------------------------------//
